page-itinerary {

h3.title{
		text-align:center;
		text-transform:uppercase;
		font-weight:100;
	}
	.scroll-content{
	    overflow: hidden;
	}
	h2.page_title {
		text-align:center;
	}
	.content_top_title { 
	    border-bottom: 1px solid #ccc;
	    box-shadow: 2px 2px 2px 2px #ccc;
	    padding: 0px 50px;
	    margin:1px auto;
	 }
		
	.img_header { 
			width: 100px;
			height: 54px;
			margin: 0 auto;
			padding: 0px;
	 }
	.let1 {color:#227bbb}
	.let2{color:#71135e}
	.let3{color:#ef1d98}
	.logo_text{
			margin: 0px;
			font-size: 36px;
			font-weight: 100;
			padding: 7px 0px;
	}
	.logo_full_text {
		word-spacing: 100vw;
	    margin: 0px;
	    font-size: 12px;
	    padding: 11px 0px;
	    }
	 .avt_img {
    width: 100px !important;
    height: 100px !important;
	}
	.ion_list_view{
	border-bottom:1px solid #ccc;
	}
	.a_red_more{
	 text-decoration: none;
	}

}
